/*.logo-company {
  background-image: url("../img/logo-sedona-mobile.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100px 80px;
}
@media (min-width: @tablet-width) {
  .logo-company {
    background-image: url("../img/logo-sedona-tablet.svg");
    background-size: 100px 80px;
  }}

@media (min-width: @desktop-width) {
  .logo-company {
    background-image: url("../img/logo-sedona-desktop.svg");
    background-size: 186px 96px;
  }
}*/

.logo-company {
  display: block;
  width: 100px;
  height: auto;
}

@media (min-width: @desktop-width) {
  .logo-company {
    display: block;
    width: 186px;
    height: auto;
  }
}
