.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__href {
  display: block;
  text-decoration: none;
  min-width: 27px;
  min-height: 34px;
  cursor: pointer;
}
