.describeYourEmotions {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  border: none;
  box-sizing: border-box;
}

.describeYourEmotions__legend {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 20px;
}

.describeYourEmotions__div {
  height: 90px;
  margin-top: 15px;
  overflow: hidden;
}

.describeYourEmotions__label {
  margin-right: 20px;
  text-align: left;
  margin-left: 20px;
  margin-bottom: -10px;
}

.describeYourEmotions__input {
  flex-grow: 2;
}

.describeYourEmotions__img {
  padding: 20px;
  background-color: #cccccc;
}
