.formFeedBack {
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  color: black;
  background-color: white;
  min-width: 320px;
  width: 320px;
  text-align: center;
  /*background-image: url("../img/icon-like.svg")*/

  &__flex {
    padding: 0;
    margin: 0 auto;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__whoareyou {
    height: 220px;
    overflow: hidden;
  }

  &__whoareyou-2 {
    padding: 0;
    margin: 0 auto;
    width: 280px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
  }

  &__legend {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
  }

  &__p {
    padding: 0;
    margin: 0;
    /*margin: 20px 0;*/
    background-color: transparent;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__hr {
    padding: 0;
    margin: 20px 0;
    background-color: transparent;
    color: black;
    opacity: 0.4;
  }
}
