.formFeedBack {
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  color: black;
  background-color: white;
  min-width: 320px;
  width: 320px;
  text-align: center;
}

.formFeedBack__flex {
  padding: 0;
  margin: 0 auto;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.formFeedBack__whoareyou {
  height: 220px;
  overflow: hidden;
}

.formFeedBack__whoareyou-2 {
  padding: 0;
  margin: 0 auto;
  width: 280px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
}

.formFeedBack__legend {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.formFeedBack__p {
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formFeedBack__hr {
  padding: 0;
  margin: 20px 0;
  background-color: transparent;
  color: black;
  opacity: 0.4;
}
