.header-div {
  /*width: 100%;*/
  min-width: 320px;
  background-color: white;

  &__logo {
    min-width: 100px;
    min-height: 80px;
    margin-top: -1px;
  }

  &__1background-image {
    min-height: 440px;

    background-image: url("../img/text-sedona-index.svg"), url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
    background-position: center, bottom center, bottom center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 280px 215px, 760px 50px, 760px 390px;
  }

  &__2background-image {
    min-height: 200px;

    background-image: url("../img/text-sedona.svg"), url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
    background-position: center 98px, bottom center, bottom center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 230px 40px, 760px 50px, 760px 390px;
  }
}
