.headerMain {
  padding: 0;
  margin: 0 auto;
  color: black;
  background-color: white;
  text-align: center;
  margin-top: 40px;
  min-height: 149px;
  width: 252px;
}

.headerMain_form-page {
  width: 274px;
  min-height: 140px;
  margin-bottom: 15px;
}

.headerMain_photo-page {
  width: 267px;
  min-height: 124px;
  margin-top: 42px;
  margin-bottom: 32px;
}

.headerMain_mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 250px;
}

.headerMain__h3 {
  padding: 0;
  margin: 0;
  text-align: center;
}

.headerMain__p {
  padding: 0;
  margin: 0;
  text-align: center;
}
