.site-list {
  background-color: #81b3d2;
  color: white;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.24);
}

.site-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 55px;
  text-align: center;
  border-bottom: 2px groove lightblue;
}

.site-list__itemtoggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-list__href {
  background-color: transparent;
  color: white;
  text-decoration: none;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
