.whoAreYou {
  padding: 0;
  margin: 0;
  border: none;

  &__legend {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }

  &__div {
    height: 220px;
    overflow: hidden;
  }

  &__label {
    margin-right: 20px;
  }

  &__grow {
    flex-grow: 2;
  }
}
